* {
  margin: 0;
  font-size: 0.95rem;
  font-family: "quicksand";
  color: rgb(118, 118, 118);
  /* border: 1px solid red; */
}

.viewport {
  height: 100vh;
  width: 100vw;

  display: flex;

  background-color: #f5f5f5;
}

nav {
  height: 100%;
  width: 300px;
  backdrop-filter: brightness(0.95) blur(10px);

  gap: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 4px 0 30px 0px rgba(0, 0, 0, 0.193);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
  font-size: 1.8rem;
  font-weight: 200;
  padding: 20px 20px 0 20px;
}

ul {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

section {
  display: flex;
  gap: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.126);

  padding: 10px;
  padding-left: 20px;
  border-radius: 0 30px 30px 0;
  width: calc(100% - 40px);
  opacity: 1;
  transition: 0.3s;
}

.groups {
  width: 100%;
  height: calc(100% - 270px);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}

.group-frame {
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.107);

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.add-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: transparent;
  border: 0;
}

/* Tarjetas */

main {
  width: calc(100% - 300px);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  border-radius: 10px;
  max-height: 150px;
  min-width: 150px;
  border: 2px solid transparent;

  padding: 20px;

  background-color: rgba(136, 152, 255, 0.365);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.167);
  transition: 0.3s;
}

ul {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

img {
  height: 20px;

  filter: contrast(0) brightness(1.2);
}

button.add-task {
  position: fixed;
  right: 20px;
  bottom: 20px;

  background-color: transparent;
  border: 0;
}

img.add-task {
  height: 40px;
  width: 40px;
}

/* -----------------------------HOVERS------------------------- */

section:hover {
  width: 100%;
  border-radius: 0;
  background-color: rgb(255, 234, 199);
}
article:hover {
  backdrop-filter: blur(50);
  border: 2px solid rgba(168, 180, 255, 0.945);
}
