.groupSelectorContainer {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  gap: 5px;
  background-color: rgba(138, 138, 138, 0.221);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 5px;
  z-index: 9999;
  top: 110%;
  left: 25%;
}

.groupSelectorButton {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  width: 100%;
  font-size: 0.7rem;
  font-weight: 600;
  transition: 0.2s;
}

.assignedGroup {
  background-color: rgb(233, 254, 202);
}

/* -------------------------------Hovers--------------------------- */

.groupSelectorButton:hover {
  scale: 1.05;
  background-color: rgb(233, 254, 202);
}
