* {
  margin: 0;
  font-family: "quicksand";
  font-size: 0.95rem;
  color: rgb(118, 118, 118);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: 10px 0;
}

button {
  background-color: transparent;
  border: 0;
  width: fit-content;
  height: fit-content;
  user-select: none;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 100%;
  gap: 15px;
  box-shadow: 4px 0 30px 0 rgba(0, 0, 0, 0.193);
  backdrop-filter: brightness(0.95) blur(10px);
  -webkit-backdrop-filter: brightness(0.95) blur(10px);
  z-index: 99;
}

section {
  display: flex;
  gap: 15px;
  width: calc(100% - 40px);
  padding: 10px;
  padding-left: 20px;
  border-radius: 0 30px 30px 0;
  background-color: var(--white-card-color);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.126);
  opacity: 1;
  transition: 0.3s;
  z-index: 1;
  user-select: none;
}

section:hover {
  width: 100%;
  background-color: var(--yellow);

  border-radius: 0;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: calc(100% - 340px);
}

.addGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  border: 0;
  padding: 10px;
}

img {
  height: 20px;
  filter: contrast(0) brightness(1.2);
  transition: 0.2s;
}

img.addGroup:hover {
  scale: 1.2;
}

img.addGroup:active {
  scale: 0.9;
}
