input.taskCheckbox {
  display: none;
}

label.taskCheckbox {
  position: absolute;
  left: -6%;
  bottom: 64%;
  font-size: 2em;
  cursor: pointer;
}

span.taskCheckbox {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  background: rgba(172, 172, 172, 0.439);
  border: 1px solid rgb(166, 166, 166);
  border-radius: 100%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  transition: 0.3s;
}

span.taskCheckbox:after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 1em;
  top: 0.25em;
  left: 0.6em;
  border: solid white;
  border-width: 0 0.3em 0.3em 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.3s;
}

label input.taskCheckbox:checked ~ span.taskCheckbox {
  background-color: rgba(166, 199, 113, 0.657);
  border: 1px solid rgb(164, 185, 134);
  box-shadow: 0 0 10px 2px rgb(220, 239, 191);
  transition: 0.3s;
}

label input.taskCheckbox:checked ~ span.taskCheckbox:after {
  opacity: 1;
}
