.taskMenuContainer {
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 7px;
  gap: 3px;

  height: fit-content;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 1s;
}

.icon {
  height: 14px;
}

button.taskBarMenuButton {
  height: min-content;
  width: min-content;
  padding: 0;
  transition: 0.2s;
}

.taskMenuContainer:hover {
  opacity: 100%;
  transition-delay: 0s;
}

/* -----------------------------Hover--------------------------------- */

button.taskBarMenuButton:hover {
  scale: 1.1;
}

button.taskBarMenuButton:active {
  scale: 0.9;
}
